<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Información de Pacientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" crossorigin="anonymous">
    <script>
      function validarCedula(cedula) {
        if (cedula.length !== 10) {
          return false;
        }
        
        // Extraer el dígito de la región (los dos primeros dígitos deben estar entre 01 y 24)
        const region = parseInt(cedula.substring(0, 2));
        if (region < 1 || region > 24) {
          return false;
        }

        // Validación del último dígito (dígito verificador)
        const coeficientes = [2, 1, 2, 1, 2, 1, 2, 1, 2];
        let suma = 0;

        for (let i = 0; i < 9; i++) {
          let producto = coeficientes[i] * parseInt(cedula.charAt(i));
          if (producto >= 10) {
            producto -= 9;
          }
          suma += producto;
        }

        const digitoVerificador = parseInt(cedula.charAt(9));
        const decenaSuperior = Math.ceil(suma / 10) * 10;
        const validador = decenaSuperior - suma;

        return validador === digitoVerificador;
      }

      function validarFormulario(event) {
        const cedulaInput = document.getElementById('id').value;

        if (!validarCedula(cedulaInput)) {
          event.preventDefault();
          alert('La cédula ingresada no es válida.');
          return false;
        }

        return true;
      }
    </script>
    <style>
        body {
            background-image: url('/images/campus.jpg'); /* Fondo de la página */
            background-size: cover; /* Ajustar la imagen de fondo */
            background-position: center; /* Centrar la imagen de fondo */
        }
        .container {
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
    
        h1 {
            color: #277854;
            text-align: center;
        }
    
        .form-label {
            color: #277854;
        }
    
        .btn-primary {
            background-color: #277854;
            border-color: #277854;
        }
    
        .btn-primary:hover {
            background-color: #1d5e43;
            border-color: #1d5e43;
        }
    
        .form-control {
            border: 1px solid #277854;
        }
    
        .submit-btn {
            text-align: center;
            margin-top: 20px;
        }
    
        /* Media Queries */
        @media (max-width: 768px) {
            .container {
                width: 90%;
                margin-top: 30px;
            }
    
            h1 {
                font-size: 24px;
            }
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #277854;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #ffffff;">
                <img src="/images/logo_espe_med.png" alt="Logo" style="width: 40px; height: auto; margin-right: 10px;">
                Sistema Integrado de Salud Universidad de las Fuerzas Armadas ESPE
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/create" style="color: #ffffff;">Añadir Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #ffffff;">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true" style="color: #ffffff;">Turnos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <% if (user) { %>
    <div class="container form-container mt-5">
      <h1>Editar Datos del Paciente</h1>
      <form action="/update" method="POST" onsubmit="return validarFormulario(event)">
       
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="id" class="form-label">Cédula de Identidad:</label>
            <input type="number" class="form-control" name="id" id="id" value="<%= user.id %>" hidden>
          </div>
          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="<%= user.nombre %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" name="apellido" id="apellido" value="<%= user.apellido %>"required>
          </div>
          <div class="col-md-6">
            <label for="sexo" class="form-label">Sexo:</label>
            <input type="number" class="form-control" name="sexo" id="sexo" value="<%= user.sexo %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="edad" class="form-label">Edad:</label>
            <input type="number" class="form-control" name="edad" id="edad" value="<%= user.edad %>" required>
          </div>
          <div class="col-md-6">
            <label for="lesion" class="form-label">Lesión:</label>
            <input type="number" class="form-control" name="lesion" id="lesion" value="<%= user.lesion %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="estado_mental" class="form-label">Estado Mental:</label>
            <input type="number" class="form-control" name="estado_mental" id="estado_mental" value="<%= user.estado_mental %>" required>
          </div>
          <div class="col-md-6">
            <label for="dolor" class="form-label">Dolor:</label>
            <input type="number" class="form-control" name="dolor" id="dolor" value="<%= user.dolor %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nrs_pain" class="form-label">Escala de Dolor (0-10):</label>
            <input type="number" class="form-control" name="nrs_pain" id="nrs_pain" value="<%= user.nrs_pain %>" required>
          </div>
          <div class="col-md-6">
            <label for="bt" class="form-label">Temperatura Corporal (°C):</label>
            <input type="number" class="form-control" name="bt" id="bt" value="<%= user.bt %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="sbp" class="form-label">Presión Arterial Sistólica (mmHg):</label>
            <input type="number" class="form-control" name="sbp" id="sbp" value="<%= user.sbp %>" required>
          </div>
          <div class="col-md-6">
            <label for="dbp" class="form-label">Presión Arterial Diastólica (mmHg):</label>
            <input type="number" class="form-control" name="dbp" id="dbp" value="<%= user.dbp %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="hr" class="form-label">Frecuencia Cardiaca (bpm):</label>
            <input type="number" class="form-control" name="hr" id="hr" value="<%= user.hr %>" required>
          </div>
          <div class="col-md-6">
            <label for="rr" class="form-label">Tasa de Respiración (rpm):</label>
            <input type="number" class="form-control" name="rr" id="rr" value="<%= user.rr %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12">
            <label for="nombre_medico" class="form-label">Nombre del Médico:</label>
            <input type="text" class="form-control" name="nombre_medico" id="nombre_medico" value="<%= user.nombre_medico %>"required>
          </div>
        </div>

        <div class="submit-btn">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a href="/" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
